<div class="login">
<div>
<div class="logo"><img src="%%ASSET_DOMAIN%%/images/wms_logo.png" alt="WMS Logo"></div>
<div class="box">
<div class="login_error_title">Error<span class="not_bold">:: Access Denied</span></div>
<div class="message">You do not have access to view this section. Please return to the homepage.</div>
</div>
<div class="return_button"><a href="%%DOMAIN%%" title="Return to website home">RETURN HOME</a></div>
<div class="copyright">Copyright &copy;%%YEAR%% %%AUTHOR%%<br><a href="https://directweb.solutions/wms" target="_blank" title="Find out more about WMS Portal from Direct Web Solutions">Powered by WMS Portal</a></div>
</div>
<div class="top"></div>
</div>
