<!doctype html>
<html class="no-js" lang="%%LANGAGE_HTML%%">
<head>
<meta charset="%%LANGUAGE_CHARSET%%">
<title>%%SITE_TITLE%% &mdash; %%VAR1%%</title>
<meta name="description" content="%%VAR2%%">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#fafafa">
<link rel="canonical" href="%%CANONICAL%%">
<link rel="shortcut icon" type="image/x-icon" href="%%DOMAIN%%/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="%%DOMAIN%%/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="%%DOMAIN%%/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="%%DOMAIN%%/favicon-16x16.png">
<link rel="stylesheet" href="%%ASSET_DOMAIN%%/stylesheets/reset.css">
<link rel="stylesheet" href="%%ASSET_DOMAIN%%/stylesheets/admin.css?%%VERSIONCODE%%">
<link rel="stylesheet" href="%%ASSET_DOMAIN%%/stylesheets/icons.css">
<link rel="manifest" href="%%DOMAIN%%/site.webmanifest">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&amp;display=swap">
</head>
<body>
