<main>
<div class="container">
<div class="padding">
%%VAR1%%
<h2 class="page_title">Panel Error</h2>
<div class="rowblock">
    <div class="title"><i class="glyphicon glyphicon-exclamation-sign"></i> Page does not exist</div>
    <div class="row_content_padding center">
        The script you are attempting to load does not exist or the templates are missing.
        <div><a class="error_page_link" title="Return to Dashboard" href="%%PANEL%%/index.php">Return to Dashboard</a></div>
    </div>
</div>
</div>
</div>
</main>
